<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title  >Document</title>
</head>
<body>
	<section>
 
 

		<div class="card mr-3 ml-3">

			<div class="card-body">

				<h1 class="text-center">Add Contact</h1>

				<div class="container-fluid mt-1">

					<div class="row">

						<div class="col-md-8 offset-md-2">

							<form action="#" th:object="${contact}" enctype="multipart/form-data"
								method="post" th:action="@{/user/process-contact}" class="mt-2">

    <!-- First Name -->
								<div class="input-group">
									<div class="input-group-prepend">
									
									<div class="input-group-text">
									
									<i class="fa fa-plus"></i>
									
									</div>
									
									</div>

                                   <input type="text" id="firstname" name="name" placeholder="Enter Name Here" class="form-control" required />
								</div>
		<!-- Second Name -->						
								

             <div class="input-group mt-3">
									<div class="input-group-prepend">
									
									<div class="input-group-text">
									
									<i class="fas fa-user-alt"></i>
									
									</div>
									
									</div>

                                   <input type="text" id="secondtname" name="secondName" placeholder="Enter Nick Name" required class="form-control" />
								</div>

<!-- phone feild -->
                  <div class="input-group mt-3">
									<div class="input-group-prepend">
									
									<div class="input-group-text">
									
									<i class="fa fa-phone"></i>
									
									</div>
									
									</div>

                                   <input type="number" min="10" id="phone" name="phone" required placeholder="Enter Phone Number" class="form-control" />
								</div>

<!-- Email -->


<div class="input-group mt-3">
									<div class="input-group-prepend">
									
									<div class="input-group-text">
									
									@
									
									</div>
									
									</div>

                                   <input type="email" id="useremail" required name="email" placeholder="Enter Email Here" class="form-control" />
								</div>
								
								
	<!-- Work -->						
	
	<div class="input-group mt-3">
									<div class="input-group-prepend">
									
									<div class="input-group-text">
									
									<i class="fa fa-briefcase"></i>
									
									</div>
									
									</div>

                                   <input type="text" id="userwork" required name="work" placeholder="Enter Work Here" class="form-control" />
								</div>	
								
								
				<!-- description -->
				
				<div class="form-group mt-3">
				
				<textarea name="discription" id="mytextarea" class="form-control" placeholder="Enter Your Contact Description" rows="10"></textarea>
				
				</div>
				
				
				<!-- image  -->
	
	
	<div class="custom-file">
	<input type="file" name="profileImage" />
	
	</div>		
	
	<div class="container text-center">
	<button class="btn btn-outline-primary">Add Contact</button>
	</div>					
							</form>

						</div>
					</div>


				</div>
			</div>
		</div>

<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>



<script>
tinymce.init({
  selector: '#mytextarea'
});
</script>

<script>
$(document).ready(()=>{
	
	$(".item").removeClass("active");
	$('#add-link').addClass("active");
});

</script>

	</section>


</body>
</html>